body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: aliceblue;
}

.test {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.test h2 {
    text-align: center;
}

.test ul {
    list-style-position: inside;
    padding-left: 0;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
	
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px;
    font-size: 1.2em;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

section p {
    font-size: 1.1em;
    color: #666;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    font-size: 1.1em;
    color: #333
		;
    margin: 10px;
}

section ul li strong {
    font-weight: bold;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}



